
.login-container {
    background-color: white;
    border: 1px solid #dbdbdb;
    width: 350px;
    margin: 50px auto;
    padding: 40px;
    text-align: center;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    box-sizing: border-box;
}

.login-btn {
    width: 100%;
    background-color: #0095f6;
    color: white;
    border: none;
    padding: 7px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}






